h1{font-family: Verdana, Geneva, Tahoma, sans-serif;}
h3{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: large;}
li{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: large;}